################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DuplicateCharector/bin/Debug/net6.0
/DuplicateCharector/obj
/.vs/String Functions/v17/.wsuo
/.vs/VSWorkspaceState.json
/.vs/DuplicateCharector
